.dash-form {
    margin: 30px 50px 0px;
  }
  
  #first-list {
    background: #ffffff;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
  }
  
  .course-study {
    font-size: 12px;
  }
  #icon-form {
    align-items: center;
  }
  
  @media screen and (max-width: 480px) {
    .dash-form {
      margin: 30px 20px 0px;
    }
  
    #title {
      font-size: 14px;
      font-weight: bold;
    }
  }
  